<div class="home">
    <h1>{{title}}</h1>
    <p><a href="item/001">001</a></p>
    <p><a href="item/002">002</a></p>
    <p><a href="item/003">003</a></p>
    <p><a href="item/004">004</a></p>
    <p><a href="item/005">005</a></p>
    <p><a href="item/006">006</a></p>
</div>