<div class="test">
    <h1>{{title}}</h1>
    <p>Not as good?</p>
    <p><a href="../item/001">001</a></p>
    <p><a href="../item/002">002</a></p>
    <p><a href="../item/003">003</a></p>
    <p><a href="../other/001">001</a></p>
    <p><a href="../other/002">002</a></p>
    <p><a href="../wontexist/003">006</a></p>
</div>